.schedule {
  min-height: 128px;
  margin: 8px;
  padding: 4px;
  text-align: justify;
  background-color: white;
  border-radius: 4px;
  box-shadow: 0 4px 4px rgba(0,0,0,0.25);
}

.schedule-title {
  margin: 16px 8px 8px 24px;
}

.schedule-title > p {
  display: inline-block;
  padding: 0;
  // border-bottom: 1px solid $blue;
  text-align: left;
  color: $blue;
  font-weight: bold;
}

.event-team {
  min-height: 128px;
  margin: 8px;
  padding: 4px;
  text-align: justify;
  background-color: white;
  border-radius: 4px;
  box-shadow: 0 4px 4px rgba(0,0,0,0.25);
}

.event-team p {
  text-align: left;
}
