.profile-background {
  height: 140px;
  max-width: 100%;
  position: absolute;
}

.profile-avatar {
  padding-top: 16px;
}

.profile-description {
  text-align: justify;
  position: relative;
  bottom: 60px;
  p {
    font-size: 14px!important;
  }
}

.profile-description h1, p {
  text-align: right;
  padding-right: 20px;
}

.profile-description h1 {
  font-family: $special-font;
  // background-color: $light-blue;
  border-radius: 24px 0 0 24px;
  margin-bottom: 20px !important;
}

.skills {
  margin-top: 12px;
}
.skills h2 {
  text-align: left;
  padding-left: 20px;
}
.skills ul {
  // border: 1px solid red;
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 0;
  padding: 0;
}

.skills ul li {
  width: 120px;
  // background-color: $blue;
  border: 2px solid $blue;
  color: $blue;
  box-shadow: 0 0 10px rgba(180,180,180, .5);
  border-radius: 24px;
  margin: 8px;
  padding: 4px;
  text-align: center;
  font-size: 12px;
}

.user-name-display {
  display: flex;
  justify-content: flex-end;
  width: 100%;
  background: transparent;
}

.line {
  border-bottom: 1px solid $orange;
  width: 90%;
  height: 16px;
  position: absolute;
  left: 5%;
  margin-bottom: 12px;
}

.bio {
  margin-top: 16px;
}

.bio p {
  padding: 12px 20px 12px 20px;
  text-align: justify;
}

.log-out {
  color: $orange;
  font-weight: normal;
  text-decoration: none;
  position: fixed;
  bottom: 20px;
  font-size: 14px;
}
