.wrapper-orange {
  background: linear-gradient(317.08deg, #FF7A00 0%, #FFD336 96.63%);
  min-height: 100vh;
}

.wrapper-black {
  background: rgb(0,0,0);
  padding-top: 4px;
  min-height: 100vh;
}

.wrapper-light-blue {
  background: #E5E5E5;
  min-height: 100vh;
}
