.wrapper-orange {
  background: linear-gradient(317.08deg, #FF7A00 0%, #FFD336 290%);
  min-height: 100vh;
}

.wrapper-black {
  background: rgb(0,0,0);
  // padding-top: 4px;
  min-height: 100vh;
}

.wrapper-light-blue {
  background: white;
  min-height: 100vh;
}


