<!-- <div class="footer">
  <div class="footer-links">
    <%#= link_to root_path do %>
      <%#= image_tag "icons/icon-schedule.png", alt: "alttext" %>
    <%# end %>
    <%#= link_to root_path do %>
      <%#= image_tag "icons/icon-crew.png", alt: "alttext" %>
    <%# end %>
    <%#= link_to root_path do %>
      <%#= image_tag "icons/icon-add.png", alt: "alttext" %>
    <%# end %>
  </div>
</div>
 -->
