<div class="nested-fields">
  <%= f.input :job_title, label: 'Job title' %>
  <%= f.input :user_id, collection: User.all, label: 'Member' %>
  <%= link_to_remove_association 'Remove this tour member', f %>
</div>

