<div class="nested-fields">
  <p class="control-label"> <%= f.input :venue, label: 'Venue' %> </p>
  <p class="control-label"> <%= f.input :city, label: 'City' %> </p>
  <p class="control-label"> <%= f.input :show_start_at, label: 'Show starts at', html5: true %> </p>
  <p class="control-label"> <%= f.input :schedule, as: :rich_text_area, label: 'Schedule', placeholder: 'Text goes here' %> </p>
</div>
