<div class="nested-fields">
  <%= f.input :venue, label: 'Venue' %>
  <%= f.input :city, label: 'City' %>
  <%= f.input :show_start_at,
    as: :datetime,
    label: 'Start Time',
    html5: true,
    input_html: { value: "#{ (DateTime.now.next_week.noon + 8.hours).strftime("%Y-%m-%d#{'T'}%H:%M:%S") }" }  
  %>
  <%#= f.input :schedule, as: :rich_text_area, label: 'Schedule', placeholder: 'Text goes here' %>
</div>
