<div class="nested-fields">

  <p class="control-label"> <%= f.input :venue, placeholder: 'venue', label: false %> </p>
  <p class="control-label"> <%= f.input :city, placeholder: 'city', label: false %> </p>
  <p class="control-label">
    <%= f.input :show_start_at,
      as: :datetime,
      label: 'show starts at:',
      html5: true,
      input_html: { value: "#{ DateTime.now.change({hour: 20}).next_week.strftime("%Y-%m-%d#{'T'}%H:%M:%S")}" }  %>
  </p>
  <p class="control-label"> <%= f.input :schedule, as: :rich_text_area, label: 'Schedule', placeholder: 'Text goes here' %> </p>
</div>
