<div class="nested-fields">
  <%= ftmember.input :job_title, label: 'Job title:' %>
  <%= ftmember.input :user, collection: @users, label: 'User:' %>
  <%= link_to_remove_association 'Remove this tour member', ftmember %>
</div>

