<div class="nested-fields">
  <p class="control-label"><%= f.input :job_title, label: 'Job title:' %> </p>
  <p class="control-label"><%= f.input :user_id, collection: User.all, label: 'User:' %> </p>
  <p class="control-label"><%= link_to_remove_association 'Remove this tour member', f %> </p>
</div>

