<div class="container">
  <div class="row justify-content-center">
    <div class="col-6">

      <h1>Tours#edit</h1>

      <h1>Edit Tour</h1>
      <%= render 'form', tour: @tour %>

      <%= link_to 'Back', tour_path(@tour) %>

    </div>
  </div>
</div>


