.btn-primary {
  color: orange !important;
  font-weight: bold !important;
  font-size: 23px !important;
  font-family: $body-font !important;
  background-color: white !important;
  width: 260px !important;
  height: 44px;
  border-radius: 24px !important;
  border: none !important;
  box-shadow: 0 4px 4px rgba(0,0,0,0.25) !important;
}

.btn-secondary {
  color: orange !important;
  font-weight: bold !important;
  font-size: 23px !important;
  font-family: $body-font !important;
  background-color: white !important;
  width: 260px !important;
  height: 44px;
  border-radius: 24px !important;
  border: none !important;
  box-shadow: 0 4px 4px rgba(0,0,0,0.25) !important;
}

.collapse-button {
  color: white;
}

.first {
  border-bottom: 1px solid white;
  font-weight: bold;
  color: white !important;
}

.collapse-button:hover {
  border-bottom: 1px solid white;
  font-weight: bold;
  color: white !important;
}
