.btn-primary {
  color: orange !important;
  font-weight: lighter !important;
  font-size: 16px !important;
  font-family: $body-font !important;
  background-color: white !important;
  width: 260px !important;
  height: 44px;
  border-radius: 24px !important;
  border: none !important;
  box-shadow: 0 4px 4px rgba(0,0,0,0.25) !important;
  text-transform: uppercase!important;
}

.btn-secondary {
  color: orange !important;
  font-weight: lighter !important;
  font-size: 23px !important;
  font-family: $body-font !important;
  background-color: white !important;
  width: 200px !important;
  height: 44px;
  border-radius: 24px !important;
  border: none !important;
  box-shadow: 0 4px 4px rgba(0,0,0,0.25) !important;
  margin: 0 auto;
}

// .btn {
//   opacity: 1;
// }

.btn-100-center {
  width: 100%;
  display: flex;
  justify-content: center;
}

.close {
  color: white;
  opacity: 1;
}

.collapse-button {
  color: white;
}

.first {
  border-bottom: 1px solid white;
  font-weight: bold;
  color: white !important;
}

.collapse-button:hover {
  border-bottom: 1px solid white;
  font-weight: bold;
  color: white !important;
}

.collapse-button.active {
  border-bottom: 1px solid white;
  font-weight: bold;
  color: white !important;
}

.delete-button {
  color: white;
  font-weight: normal;
  position: fixed;
  bottom: 100px;
  font-size: 14px;
  text-decoration: none;
}

.back-tour-button {
  color: $orange;
  background-color: white;
  font-weight: normal;
  bottom: 100px;
  font-size: 14px;
  text-decoration: none;
}

.back-button-white {
  color: white;
  background-color: #FFA14B;
  font-weight: normal;
  bottom: 100px;
  font-size: 14px;
  text-decoration: none;
}
