.card-tour {
  background-size: cover;
  background-position: center;
  height: 120px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 4px;
  color: white;
  font-size: 24px;
  font-weight: bold;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  border-radius: 5px;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
}

.card-tour h2 {
  text-decoration: none;
  font-size: 25px;
}

.card-tour p {
  text-decoration: none;
  font-size: 15px;
}

.card-event {
  border-radius: 5px;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  padding: 10px;
  margin-bottom: 20px;
}

#event {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: black;
}

#event-photo {
  position: relative;
}

#event-photo img {
  position: absolute;
  top: 6px;
  right: 15px;
}


