.card-tour {
  background-size: cover;
  background-position: center;
  height: 120px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 4px;
  color: white;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  border-radius: 5px;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
}

.card-tour h1 {
  font-family: $headers-font;
  font-weight: 400;
  text-decoration: none;
}
.card-tour h2 {
  font-family: $headers-font;
  font-weight: 400;
  text-decoration: none;
}

.card-tour p {
  text-decoration: none;
}

.card-event {
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  padding: 10px;
  margin-bottom: 0;
  background-color: white;
  height: 100px;
}

.card-event h3 {
  font-family: $headers-font;
  font-weight: 400;
  text-decoration: none;
  margin-bottom: 0;
}

#event {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  color: black;
}

#event-venue {
  display: flex;
  flex-direction: column;
  align-content: stretch;
  justify-content: center;
  align-items: flex-start;
  color: black;
}

#event-photo {
  position: relative;
}

#event-photo img {
  position: absolute;
  top: 15px;
  right: 15px;
}

#event-time {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-left: 0px;
}

.card {
  width: 50vh !important;
  background: transparent !important;
  border: 0 !important;
}

.card-member {
  box-shadow: 0 4px 4px rgba(0,0,0,0.25);
  padding: 10px;
  margin-bottom: 12px;
  background-color: $light-blue;
  border-radius: 24px 4px 4px 24px;
}

.card-member h3 {
  font-family: $headers-font;
  font-weight: 400;
  text-decoration: none;
  margin-bottom: 0;
}

#member {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  color: black;
}

#member-card {
  display: flex;
  flex-direction: column;
  align-content: stretch;
  justify-content: center;
  align-items: flex-start;
  color: black;
}

.before-card-padding {
  padding-top: 40px;
}
