.card-tour {
  background-size: cover;
  background-position: center;
  height: 130px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  // margin-bottom: 4px;
  color: white;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  // border-radius: 5px;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
}

.card-tour h1 {
  font-family: $headers-font;
  font-weight: 400;
  text-decoration: none;
}
.card-tour h2 {
  font-family: $headers-font;
  font-weight: 400;
  text-decoration: none;
  font-size: 18px!important;
}

.card-tour p {
  text-decoration: none;
}

.card-event {
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  padding: 25px;
  margin-bottom: 0;
  background-color: white;
  height: 100px;
  margin-bottom: 2px;
}

.card-event h3 {
  font-family: $headers-font;
  // font-weight: 400;
  text-decoration: none;
  margin-bottom: 0;
  font-size: 16px!important;
}

.card-event p {
  font-size: 12px!important;
}

#event {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  color: black;
}

.event-list-flex {
  align-items: center;
}

#event h3 {
  font-size: 14px!important;
}

#event-venue {
  display: flex;
  flex-direction: column;
  align-content: stretch;
  justify-content: center;
  align-items: flex-start;
  color: black;
  padding-left: 15px;
}

#event-photo {
  position: relative;
}

// #event-photo img {
//   position: absolute;
//   top: 15px;
//   right: 15px;
// }

#event-time {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-left: 0px;
}

#event-time h3 {
  font-weight: bold;
  color: $blue;
}

.card {
  width: 50vh !important;
  // background: transparent !important;
  border: 0 !important;
  background-color: rgba(250, 250, 250, .1);
  border-radius: 24px;
  margin-top: 40px;
}

.card-member {
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  padding: 10px;
  margin-bottom: 12px;
  background-color: rgba(250, 250, 250, .1);
  border-radius: 24px 4px 4px 24px;
}

.card-member h3 {
  font-family: $headers-font;
  font-weight: 400;
  text-decoration: none;
  margin-bottom: 0;
}

#member {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  color: black;
}

#member-card {
  display: flex;
  flex-direction: column;
  align-content: stretch;
  justify-content: center;
  align-items: flex-start;
  color: black;
}

.before-card-padding {
  padding-top: 40px;
}
