// .footer {
//   background: white;
//   display: flex;
//   align-items: center;
//   // height: 80px;
//   padding: 0px 0px;
//   color: rgba(0,0,0,0.3);
// }
// .footer-links {
//   width: 100%;
//   display: flex;
//   justify-content: space-around;
//   align-items: center;
// }

// .footer-links a {
//   color: black;
//   opacity: 0.75;
//   text-decoration: none;
//   font-size: 40px;
//   padding: 0px 10px;
// }


// .page-footer {
//   width: 100%;
//   position: fixed;
//   bottom: 0;
//   left: 0;
// }

.modal-footer {
  border: 0 !important;
  display: flex !important;
  justify-content: center !important;
  position: fixed;
  bottom: 0;
  width: 100%;
  right: 0;
  z-index: 1000000;
}
