.icon-blue {
  color: $blue;
}

.icon-round {
  position: fixed;
  z-index: 1000;
  width: 40px;
}

#plus {
  left: 316px;
  top: 600px;
}

#notif {
  left: 300px;
  top: 208px;
}

#edit {
  left: 316px;
  top: 548px;
}

#admin {
  left: 234px;
  top: 140px;
}

#crew {
  left: 316px;
  top: 496px;
}
