.icon-blue {
  color: $blue;
}

.icon-round {
  display: flex;
  z-index: 1000;
  width: 50px;
  margin: 12px auto;
}

#notif{
}

#edit {
}

#plus {

}

#crew {
}

#admin {
}

.icon-nav {
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  // border: 1px solid red;
  z-index: 1000;
  width: 60px;
  height: 200px;
  bottom: 12px;
  right: 0px;
}
