.modal-content {
  width: 100%;
  min-height: 100vh !important;
}

.modal-dialog {
  margin: 0 !important;
}

.modal-content-color {
background: linear-gradient(317.08deg, #FF7A00 0%, #FFD336 96.63%);
}

.modal-title h1 {
  font-family: $special-font;
  font-size: 36px;
  font-style: bold;
  color: white !important;
}

.control-label {
  font-family: $body-font;
  font-size: 16px;
  font-style: bold;
  color: white !important;
}
