.modal-content {
  width: 100%;
  min-height: 100vh !important;
}

.modal-dialog {
  margin: 0 !important;
}

.modal-content-color {
  background: linear-gradient(317.08deg, #FF7A00 0%, #FFD336 290%);
}

.modal-title {
  font-family: $special-font;
  font-size: 36px;
  font-style: bold;
}

.modal label {
  font-weight: lighter;
  text-transform: uppercase;
  font-size: 12px;
  opacity: .5;
}

.modal {
  color: white;
}

.col-form-label {
  font-weight: bold;
}


.modal-navigation {
  margin-top: 40px;
}