.navbar-lewagon {
  justify-content: space-between;
  background: linear-gradient(45.08deg, #FF7A00 0%, #FFD336 290%);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand {
  width: 40px;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}

.navbar-brand {
  margin: 0;
}

.navbar-toggler {
  border: none;
  border-color: none;
}


