// Graphical variables
@import "config/fonts";
@import "config/colors";
@import "config/bootstrap_variables";

// External libraries
@import "bootstrap/scss/bootstrap";
@import "font-awesome-sprockets";
@import "font-awesome";

// Your CSS partials
@import "components/index";
@import "components/card";
@import "components/modal";
@import "pages/index";
@import "pages/profile";

// Custom
@import "actiontext";

body {
  min-height: 100vh;
  // min-height: -webkit-fill-available;
  padding-top: 63px;

}
html {
  height: -webkit-fill-available;
}

a, a:hover, a:active, a:visited, a:focus {
    text-decoration:none;
}
