// Graphical variables
@import "config/fonts";
@import "config/colors";
@import "config/bootstrap_variables";

// External libraries
@import "bootstrap/scss/bootstrap";
@import "font-awesome-sprockets";
@import "font-awesome";

// Your CSS partials
@import "components/index";
@import "pages/index";

// Custom
@import "actiontext";

body {
  min-height: 100vh;
  min-height: -webkit-fill-available;
  padding-top: 80px;
  padding-bottom: 80px;
}
html {
  height: -webkit-fill-available;
}

.modal-content {
  width: 100%;
  min-height: 100vh !important;
}

.modal-dialog {
  margin: 0 !important;
}

.card-category {
  background-size: cover;
  background-position: center;
  height: 120px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
  color: white;
  font-size: 24px;
  font-weight: bold;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  border-radius: 5px;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
}
